/* debug */
/* .debug .container {
  background-color: antiquewhite;
  height: 900px;
} */
.debug .site_header > .row {
  height: 100px;
}
.debug .start > .row {
  height: 300px;
}
.debug .site_footer > .row {
  height: 100px;
}
/* utility */
.pb_6 {
  padding-bottom: 5rem;
}
.btn_green {
  background-color: #1abc9c;
  color: #ffffff;
}
.border {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* header */

.site_header {
  background-color: #2c3e50;
  color: #ffffff;
}
/* main */

/* start */
.start {
  background-color: #1abc9c;
  color: #ffffff;
}
.start img {
  height: 150px;
}

/* portfoglio */
/* .portfoglio {
  padding: 1rem 0;
} */
.secondary_container {
  width: 80%;
  margin: auto;
}
.portfoglio img {
  width: 100%;
}
.portfoglio_container > .row {
  padding-bottom: 1rem;
}
/* about */
.about {
  background-color: #1abc9c;
  color: #ffffff;
}
.about_container {
  width: 70%;
  margin: auto;
}
/* footer */
.site_footer {
  color: #ffffff;
  background-color: #3a546d;
}
.bg_blue {
  background-color: #3a546d;
}
.bg_darkblue {
  background-color: #2c3e50;
}
